.enunciado {
  background-color: chocolate;
  font-size: 2em;
  color: antiquewhite;
  font-weight: 700;
  text-align: justify;
}

.descricao {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-align: justify;
  font-size: 1.3em;
}

img {
  margin-bottom: 120px;
}

.title {
  padding: 0.3em;
  text-align: center;
}

.pergunta {
  border: 1px dashed lightslategray;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  padding: 0.8em;
}

.c-btn {
  margin-bottom: 1.5em;
}

.controllers {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-container {
  height: 78px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selectable :hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.no-border :hover {
  border: none;
}

.selected {
  border: 1px solid chocolate;
}

.selectable :active {
  background-color: rgb(198, 209, 219);
}

.spacer {
  width: 100%;
  height: 1rem;
}

.danger {
  background-color: crimson;
}

.spacer {}
